<div ng-controller="saleCtrl as sale">
  <!--MENSAJES-->
  <div class="alert alert-dismissible alert-success" ng-show="sale.successMsg">
    <div class="">
      <p> {{sale.successMsg}}</p>
    </div>
  </div>
  <div class="alert alert-dismissible alert-danger" ng-show="sale.errorMsg">
    <div class="">
      <p>{{sale.errorMsg}}</p>
    </div>
  </div>
  <div id="myModal" class="modal" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Mensaje</h4>
        </div>
        <div class="modal-body text-center">
          <h1>¿Desea cancelar?</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <a type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sale.si()">Si</a>
        </div>
      </div>
    </div>
  </div>

  <!--FIN MENSAJES-->
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Registro de ventas</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-11 text-right">
          <strong>Folio Venta: {{sale.folio}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <span class="btn btn-info text-left">Cliente</span>
        </div>
        <div ng-controller="clientsAutocompleteCtrl as ctrl" class="row" ng-init="ctrl.all()" ng-cloak >
          <div class="col-md-5">
            <!--<pre>Model: {{selected| json}}</pre>-->
            <input id="cli" type="text"
              ng-model="sale.selected"

              placeholder="Buscar cliente..."
              typeahead-min-length="3"
              typeahead-on-select="onSelect($item, $model, $label)"
              uib-typeahead="item as item.nombre+' '+item.apellido_paterno+' '+item.apellido_materno for item in clientes | filter:$viewValue | limitTo:8"
              class="form-control">

          </div>
          <div class="col-md-3 ">
            <!--RFC-->
            <h4>{{item_selected}}</h4>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-1" id="articulo">
          <span class="btn btn-info text-left">Artículo</span>
        </div>
        <div ng-controller="articlesAutocompleteCtrl as ctrl2" class="row" ng-init="ctrl2.all()" ng-cloak >
          <form >
            <div class="col-md-5">
              <!--<pre>Model: {{selected1 | json}}</pre>-->
              <input type="text"
                ng-model="artSelected"
                placeholder="Buscar artículo..."
                typeahead-min-length="3"
                required
                uib-typeahead="item as item.descripcion for item in articles | filter:$viewValue | limitTo:8"
                class="form-control">
            </div>
            <div class="col-md-1">
              <button type="submit" name="button" id="btnAgregar" ng-click="sale.addArticle(artSelected)" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
            </div>
          </form>
        </div>
      </div>
      <hr>
      <div class="row">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Descripción Artículo</th>
              <th>Modelo</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Importe</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="art in sale.rows">
              <td>{{art.descripcion}}</td>
              <td>{{art.modelo}}</td>
              <td class="col-md-1">
              <input value="" type="number" name="id" ng-blur="calculate($event, $index, art);" class="form-control" required /></td>
              <td>{{art.newprecio}}</td>
              <td>{{art.importe}}</td>
              <td><button type="button" name="button" ng-click="sale.removeArticle($index)" class="btn-xs btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <div id="totales" ng-show="sale.totales">
        <div class="row">
          <div class="col-md-2 col-md-offset-6 text-right btn-default disabled">
            <span>Enganche: </span>
          </div>
          <div class="col-md-2 text-right">
            <span>{{sale.total(sale.rows).enganche}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-5 text-right btn-default disabled">
            <span>Bonificación Enganche: </span>
          </div>
          <div class="col-md-2 text-right">
            <span>{{sale.total(sale.rows).bonificacion}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-6 text-right btn-default disabled">
            <span >Total: </span>
          </div>
          <div class="col-md-2 text-right">
            <span>{{sale.total(sale.rows).total}}</span>
          </div>
        </div>
      </div>
      <br>
      <div id="abonos" ng-show="sale.abonos" class="row">
        <table class="table table-striped table-hover ">
          <thead>
            <tr class="info">
              <th class="text-center" colspan="5">ABONOS MENSUALES</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{o[0].plazo}} abonos de </td>
              <td>$ {{o[0].importe_abono}}</td>
              <td>Total a pagar {{o[0].total_adeudo}}</td>
              <td>Se ahorra $ {{o[0].importe_ahorro}}</td>
              <td><input ng-model="result" ng-value="0" type="radio" name="button" class="radio"></td>
            </tr>
            <tr>
              <td>{{o[1].plazo}} abonos de </td>
              <td>$ {{o[1].importe_abono}}</td>
              <td>Total a pagar {{o[1].total_adeudo}}</td>
              <td>Se ahorra $ {{o[1].importe_ahorro}}</td>
              <td><input ng-model="result" ng-value="1" type="radio" name="button" class="radio"></td>
            </tr>
            <tr>
              <td>{{o[2].plazo}} abonos de </td>
              <td>$ {{o[2].importe_abono}}</td>
              <td>Total a pagar {{o[2].total_adeudo}}</td>
              <td>Se ahorra $ {{o[2].importe_ahorro}}</td>
              <td><input ng-model="result" ng-value="2" type="radio" name="button" class="radio"></td>
            </tr>
            <tr>
              <td>{{o[3].plazo}} abonos de </td>
              <td>$ {{o[3].importe_abono}}</td>
              <td>Total a pagar {{o[3].total_adeudo}}</td>
              <td>Se ahorra $ {{o[3].importe_ahorro}}</td>
              <td><input ng-model="result" ng-value="3" type="radio" name="button" class="radio"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="btnSiguiente" ng-show="sale.siguiente" class="row">
    <div class="col-md-12 text-right">
      <button type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Cancelar </button>
      <button type="button" name="button" class="btn btn-success" ng-click="sale.siguiente1()">Siguiente </button>
    </div>
  </div>
  <div id="btnGuardar" ng-show="sale.guardar" class="row">
    <div class="col-md-12 text-right">
      <button type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Cancelar </button>
      <button type="button" name="button" class="btn btn-success" ng-click="sale.save(result, o)">Guardar </button>
    </div>
  </div>
</div>
